
@import "./lib/iconfont/iconfont.css";

$headSize:60px;     //顶部操作栏的高度
$menuSize:275px;   //菜单列表的宽度
$operatorSize:275px; //右侧编辑详情的宽度

$ibc:#dcdfe6;   //border  color边框的颜色
$ibl:#ebeef5;   //border  color light  边框颜色
$itc:#314659;   // text color  字体颜色
$icc:rgba(0,0,0,0.45);  // icon color 图标颜色
$boxShadowColor:#f0f1f2; // 阴影颜色

$primary:#409EFF; // 主色调

.visual-editor{
  position: fixed;
	top:20px;
	right:20px;
	bottom:20px;
	left:20px;
	background: white;
	z-index: 100;
	&::before{
		position:fixed;
		top:0;
		right: 0;
		bottom: 0;
		left:0;
		background:rgba(black,0.2 );
		content: '';
	}
	& > .visual-editor-menu{
		position: absolute;
		width: $menuSize;
		top:0;
		left:0;
		bottom:0;
		background: #ffffff;
		z-index: 2;
		.visual-editor-menu-item{
			position: relative;
			min-height: 120px;
			width: calc(100% - 20px);
			margin-left: 10px;
			border: 3px solid $ibl;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px 20px;
			box-sizing: border-box;
			&::after{
				position: absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				content:' ';
				z-index: 10;
				// background: rgba(0,0,0,0.1);
			}
			&:hover{
				border-color: $primary;
				cursor: move;
			}
		}
		.visual-editor-menu--item-label{
			position: absolute;
			top:-3px;
			left:-3px;
			background-color: $primary;
			color: #ffffff;
			padding:4px 8px;
			font-size: 12px;
			z-index: 1;
		}
	}
	& > .visual-editor-head{
		padding-top:10px;
		position: absolute;
		top:0;
		left:$menuSize;
		right: $operatorSize;
		height: $headSize;
		color: $itc;
		// background: #409EFF;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		.visual-editor-head-button{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: rgba(black,0.3);
			color: white;
			height: 60px;
			width: 60px;
			cursor: pointer;
			transition: all 300ms linear;
			& + .visual-editor-head-button{
				margin-left: 1px;
			}
			&:first-child{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			&:last-child{
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			&:hover{
				background: white;
				color: $primary;
			}
			i{
				font-size: 20px;
			}
			span{
				font-size: 12px;
			}
		}
	}
	& > .visual-editor-operator{
		position: absolute;
		right: 0;
		top:0;
		bottom: 0;
		width: $operatorSize;
    background:#ffffff;
    padding:20px 10px;
    box-sizing: border-box;
    z-index: 2;
    .el-input, .el-select, .el-input-number{
      width: 100%;
    }
	}
	& > .visual-editor-body{
		padding-top:$headSize+20px;
		padding-left: $menuSize;
		padding-right: $operatorSize;
		box-sizing: border-box;
		background-color: rgba(white,.5);
		position: relative;
			z-index: 1;

		height: 100%;
		& > .visual-editor-content{
			height: 100%;
			width: 100%;
			overflow: scroll;
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			& > .visual-editor-container{
				background-color: white;
				position: relative;
				.visual-deitor-block{
					position: absolute;
					&::after{
						position: absolute;
						$space: 3px;
						top:-$space;
						left:-$space;
						right:-$space;
						bottom:-$space;
						content:'';
					}
					&.visual-deitor-block-focus{
						&::after{
						border:1px dashed $primary
						}
					}
				}
				.visual-editor-mark-line-y{
					position: absolute;
					left:0;
					right:0;
					border-top: dashed 1px $primary
				}
				.visual-editor-mark-line-x{
					position: absolute;
					top:0;
					bottom:0;
					border-left: dashed 1px $primary
				}
			}
		}
	}
}
